@import "phantom-sans.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-phantom-sans {
    font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

.wrapper {
    position: relative;
}
.wrapper:before, #wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px; /* Height of the effect */
}
.wrapper:after {
    bottom: 0;
    /* Use your background color, assuming white: */
    background-image: linear-gradient(to top, rgba(251,236,238,1), rgba(251,236,238,0));
}